*.log
**/build/
**/dist/
**/newman/
**/public/
**/coverage/
**/node_modules/
**/.next/
.#*
__pycache__/
.envrc
.cfn_guard_out
.idea
.vscode/settings.json
./sign/
*.key
.DS_Store
junit.xml
release_notes
/ecs-*.yml
.venv
.aws-sam
lib/
*.tsbuildinfo
_site/
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
cfn_guard_output/
.asdf
cdk.out/
